:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5%;
}

.preview {
}

.preview:nth-child(1) {
  transform: translateX(10%) scale(0.8);
}

.preview:nth-child(3) {
  transform: translateX(-10%) scale(0.8);
}
